.contenedor{
    display: grid;
    grid-template-columns: 
    repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.item1{
    grid-column: 5 / 6;
    grid-row: 3 / 4 ;
    background-color: blue;
}

.item2{
    grid-column: 2 / 3;
    grid-row: 3 / 5 ;
    background-color: blue;
}

.item3{
    grid-column: 3 / 5;
    grid-row: 1 / 2 ;
    background-color: blue;
}